
@{
    ViewData["Title"] = "Index";
}

<h1>Feedback</h1>

<form  action="AddData1" method="get">

    <label>Name</label><input type="text"    name="name1" />
    <br />
      <label>Email</label><input type="email"  name="email" />
    <br />
    <label>MSG</label><textarea name="msg"></textarea>
    <br />
    <input type="submit" />
</form>

