
@{
    ViewData["Title"] = "Index";
}


<h2>Welcome to Car Rental System</h2>


<html>
<head>
   
    <title>Speehive</title>
</head>
<body>
    <form  action="index.html" method="get" >
<input type="text" name="employeeName" placeholder="name" required size="90">
<input type="password">   
Name<input type="text" name="n1" value="Vishnu">
    Name1<input type="text"  name="n2" placeholder="name">
    Name2<input type="text" name="n3">
    Name3<input type="text" >
    Name3<input type="text" >
    <br>
    <br>
    lastName<input type="text">
    <br>
    Address <textarea></textarea>
    <br>
    Email <input type="email"><br>
    DOB<input type="date"><br>
    Upload Photo <input type="file"><br>
    <input type="submit">
    <button>Click me</button>



    </form>
</body>
</html>

