
@{
    ViewData["Title"] = "IndexPage";
}

<h1>IndexPage</h1>

<form action="AddCarDetails" method="post">

   CarName <input type="text"  name="Name" />
   <br />
   CompanyName<input type="text"  name="CompanyName"/>
   <br>
      Owner<input type="text"  name="OwnerName"/>
   <br>
     Model<input type="text"  name="ModelNo"/>
   <br>
      Photo Upload<input type="file"  name="PhotoUrl"/>
   <br>
       Rate<input type="number"  name="RatePerHr"/>
   <br>
  <input type="submit" value="Submit" />

</form>